* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
}

:root {
    /* Color scheme */
    --accent-color: #059DB9; /* aqua */
    --main-color: #000000; /* black */
    --text-color: #ffffff; /* white */
    /* Typography */
    --spacing-unit10: 10px;
    --spacing-unit100: 100px;
    --header-font34: 34 px;
    --header-font25: 25px;

}

body {
    background-color: var(--main-color);
    /*background-color: lime;*/
    text-align: center;
    padding: 30px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    align-items: center;
}

.logo {
    /*width: 80px;*/
    width: calc(var(--spacing-unit10)*8);
    /*height: 80px;*/
    height: calc(var(--spacing-unit10)*8);
    /*border-radius: 10px;*/
    border-radius: var(--spacing-unit10);
}

.hamburger {
    /*width: 30px;*/
    width: calc(var(--spacing-unit10) *3);
}

/* Opens menu when clicked on hamburger */
#openMenu:target {
    display: block;
}

.dropdownMenu {
    flex-direction: column;
    /*border: 1px solid #059DB9;*/
    border: 1px solid var(--accent-color);
    /*border-radius: 10px;*/
    border-radius: var(--spacing-unit10);
    /*width: 250px;*/
    width: calc(var(--spacing-unit100)*2.5);
    /*height: 200px;*/
    height: calc(var(--spacing-unit100)*2);
    margin: 0 auto;
    align-content: center;
    display: none;
}

/*Hide .navLinks, until clicked on hamburger*/
.navLinks {
    /*display: none;*/
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    /*color: white;*/
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
}

.navLinks a:hover {
    color: var(--accent-color);
}

.pageContainer {
    display: flex-block;
    justify-content: center;
    
}

.sectionHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--header-font25);
    /*border: 1px solid red;*/
    /*width: 300px;*/
    width: calc(var(--spacing-unit100)*3);
    /*color: #059DB9;*/
    color: var(--accent-color);
    margin: 33px auto;
}

.servicesHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--header-font25);
    width: calc(var(--spacing-unit100)*3);
    color: var(--accent-color);
    margin: var(--spacing-unit10) auto;
}

.mainProfilePhoto {
    /*width: 300px;*/
    width: calc(var(--spacing-unit100)*3);
    /*border-radius: 20px;*/
    border-radius: calc(var(--spacing-unit10)*2);
    /*margin-bottom: 33px;*/
    margin-bottom: calc(var(--spacing-unit10)*3.5);
}

.servicesPhoto {
    width: calc(var(--spacing-unit100)*2.5);
    border-radius: calc(var(--spacing-unit10)*2.5);
    margin-bottom: calc(var(--spacing-unit10)*1);
}

.text {
    /*width: 300px;*/
    width: calc(var(--spacing-unit100)*3);
    /*border: 1px solid red;*/
    margin: 0 auto;  
}

.text p {
    text-align: left;
    /*line-height: 20px;*/
    line-height: calc(var(--spacing-unit10)*2);
    color: var(--text-color);
}

.services {
    /*width: 300px;*/
    width: calc(var(--spacing-unit100)*2.3);
    /*border: 1px solid red;*/
    margin: 0 auto;  
}

.services p {
    text-align: center;
    /*line-height: 20px;*/
    line-height: calc(var(--spacing-unit10)*2);
    color: var(--text-color);
    font-size: 16px;
}

.buttonDiv {
    /*margin: 55px auto;*/
    margin: calc(var(--spacing-unit10)*5.5)auto;

}

.downloadCVButton {
    text-decoration: none;
    color: var(--text-color);
    /*padding: 10px 15px;*/
    padding: var(--spacing-unit10) calc(var(--spacing-unit10)*1.5);
    /*border-radius: 5px;*/
    border-radius: calc(var(--spacing-unit10)*0.5);
    border: none;
    /*background-color: #059DB9;*/
    background-color: var(--accent-color); 
     
}